*.class
*.txt
*.TXT
*.log
*.bak
*.classpath
.settings/
.checkstyle
classes/
Thumbs.db
*.project
bin/*
.externalToolBuilders/
logs/
target/
.idea/
*.iml
/*.iml
.jupiter
rebel.xml
lib/
*.json
release.properties
