*.class
*.txt
*.mymetadata
*.TXT
*.log
*.bak
*.classpath
.settings/
.checkstyle
classes/
Thumbs.db
*.project
yyptdasWeb/WEB-INF/lib/*
bin/*
.externalToolBuilders/
logs/
target/
.idea/
*.iml
/*.iml
.jupiter
/yyptweb/src/main/webapp/config/
rebel.xml
lib/
*.json
release.properties
